# Compiled Object files
*.slo
*.lo
*.o
*.orig
*.exe
*.suo
*.sdf
*.user
*.ipch
*.tlog
*.log
*.idb
*.pdb
*.lastbuildstate
*.obj
*.DS_Store
*.manifest
*.ilk
*.user
*.filters
*.pch
*.rc
*.res
*.opensdf
*.unsuccessfulbuild
*.vcxproj
*.suo
*.lib
*.sln

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
